# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\xdclass\加密：工业级PaaS云平台+SpringCloudAlibaba+JDK11综合项目实战\ec-1024-shop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
